@using HYZK.FrameWork.Common
@using HYZK.FrameWork.Web.Controls
@using HYZK.Account.Contract
@using HYZK.FrameWork.Utility

@model DKLManager.Contract.Model.DeviceModel
@{
    Layout = "~/Views/Shared/_Layout.Edit.cshtml";
}
@section PageSpecificStyleSheetIncludes{
    <style type="text/css">
    </style>
}
@section PageSpecificJavascriptIncludes{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#CalibrationTime").datepicker(
                {
                    changeYear: true,
                    changeMonth: true,
                });
        });
        //$(document).ready(function () {
        //    $("#CalibrationPeriod").datepicker(
        //        {
        //            changeYear: true,

        //        });
        //});

    </script>
}
@section MainContent{
    <div class="portlet-body form-horizontal form-bordered form-row-stripped">
    <div class="row-fluid">

        <div class="control-group">
            <label class="control-label"><span class="required">*</span>设备名称：</label>
            <div class="controls">
                @Html.TextBoxFor(m => m.DeivceName, new { @class = "m-wrap small" })
                <span class="help-inline">@Html.ValidationMessageFor(m => m.DeivceName)</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">设备数量：</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.Number, new { @class = "m-wrap small" })
            <span class="help-inline">@Html.ValidationMessageFor(m => m.Number)</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">设备鉴定日期：</label>
        <div class="controls">
            @Html.TextBox("CalibrationTime", Model.CalibrationTime.ToCnDataString(), new { @class = "m-wrap" })
            <span class="help-inline">@Html.ValidationMessageFor(m => m.CalibrationTime)</span>
        </div>
    </div>
    @*<div class="control-group">
            <label class="control-label">设备鉴定周期：</label>
            <div class="controls">
                @Html.TextBox("CalibrationPeriod", Model.CalibrationPeriod.ToCnDataString(), new { @class = "m-wrap" })
                <span class="help-inline">@Html.ValidationMessageFor(m => m.CalibrationPeriod)</span>
            </div>
        </div>*@
    <div class="control-group">
        <label class="control-label">设备鉴定周期：</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.CalibrationPeriod, new { @class = "m-wrap small" })
            <span class="help-inline">@Html.ValidationMessageFor(m => m.CalibrationPeriod)</span>
        </div>
    </div>
</div>
}

