@using HYZK.FrameWork.Common
@using HYZK.FrameWork.Utility
@using HYZK.FrameWork.Web.Controls
@using DKLManager.Contract.Model;
@using Web.Common;
@using Web.Demo.Areas.DKLManager.Models;

@model Web.Demo.Areas.DKLManager.Models.ProjectWholeInfoViewModel

@{
    ViewBag.Title = "CreateProject";
    Layout = "~/Views/Shared/_Layout.Edit.cshtml";

}
@section PageSpecificStyleSheetIncludes{
    <style type="text/css">
        .form-refer-1 {
            font-weight: 800;
            font-size: large;
            color: black;
        }

        .form-refer-2 {
            font-weight: 800;
            font-size: 16px;
            margin-top: 10px;
            resize: none;
            height: 20px;
            width: 23%;
            text-align: center;
        }

        .form-refer-3 {
            font-weight: 800;
            font-size: large;
            width: 25%;
            margin-top: 10px;
            margin-left: 10px;
            resize: none;
            text-align: center;
        }
    </style>
    <script src="@Url.Content("~/Scripts/jquery-1.11.3.min.js")" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            var str = $("#1").val();
            if (str != "") {
                var item1 = document.getElementById("2");
                item1.style.display = "";
            }
        });
    </script>
}
@section PageSpecificJavascriptIncludes{
    <script type="text/javascript">
        $('#uploader').FileUpload({
            'subfolder': 'dkl',
            'callback': function (msg) {
                //msg.url为图片地址
                var picHtml = '<li class="span2"><a> <img src="' + msg.url + '" alt=""> </a>';
                picHtml += '<div class="actions"> <a title="" class="" href="#"><i class="icon-pencil"></i></a>';
                picHtml += ' </div></li>';
                $("#pictrueContainer").html($("#pictrueContainer").html() + picHtml);

                document.getElementById("pictrueFilePaths").value += msg.url + ",";
            }
        });
        $("#ProjectClosingDate").datepicker(
            {
                changeYear: true,
                changeMonth: true,
            });
    </script>
    <script type="text/javascript">
        $("#ProjectClosingDate").datepicker(
            {
                changeYear: true,
                changeMonth: true,
            });
    </script>
}

@section MainContent{

    <div class="portlet box red m10">
        <div>@Html.HiddenFor(m => m.projectBasicImgFile.FilePath, new { @id = "pictrueFilePaths" })</div>
        <div>@Html.HiddenFor(m => m.projectBasicImgFile.ID, new { @id = "id" })</div>
        <div class="portlet-title">
            <h4><i class="icon-reorder"></i>项目信息</h4>
            <div class="control-group">

                <div id="2" class="form-refer-1" style="display:none;">
                    &nbsp;&nbsp;&nbsp;
                    退回原因：
                    <textarea id="1" class=" form-refer-3" readonly>@Model.projectBasicinfo.Remarks</textarea>
                </div>

                <div class="form-refer-1">
                    &nbsp;&nbsp;&nbsp;
                    项目类别：<textarea class=" form-refer-2" readonly>@ViewData["ProjectCategory"]</textarea>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    项目编号：
                    &nbsp;&nbsp;&nbsp;<textarea class=" form-refer-2" readonly>@Model.projectBasicinfo.ProjectNumber</textarea>
                </div>
                <div class="col-md-6 col-xs-6 form-refer-1 ">
                    &nbsp;&nbsp;&nbsp;
                    项目姓名：<textarea class=" form-refer-2" readonly>@Model.projectBasicinfo.ProjectName</textarea>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    公司名称：
                    &nbsp;&nbsp;&nbsp;<textarea class=" form-refer-2" readonly>@Model.projectBasicinfo.CompaneName</textarea>
                </div>

                <div class="col-md-12 col-xs-12 form-refer-1">
                    &nbsp;&nbsp;&nbsp;
                    联系电话：<textarea class=" form-refer-2" readonly>@Model.projectBasicinfo.ContactTel</textarea>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    公司联系人：
                    <textarea class=" form-refer-2" readonly>@Model.projectBasicinfo.CompanyContact</textarea>
                </div>

                <div class="col-md-6 col-xs-6 form-refer-1">
                    &nbsp;&nbsp;&nbsp;
                    邮政编码：<textarea class=" form-refer-2" readonly>@Model.projectBasicinfo.ZipCode</textarea>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    公司地址：
                    <textarea class=" form-refer-2" readonly>@Model.projectBasicinfo.CompanyAddress</textarea>
                </div>
                <div class=" col-md-6 col-xs-6 form-refer-1">
                    &nbsp;&nbsp;&nbsp;
                    评价项目负责人： &nbsp;&nbsp;@Html.DropDownList("Person", null, "请选择评价项目负责人", new { id = "select" })
                </div>
                <div class="control-group">
                    <label class="control-label">条形码</label>
                    <img src="@ViewData["ProjectBarCodeImg"]" alt="" />
                </div>

            </div>
        </div>
    </div>
    <label class="control-label" id="preview">文件扫描件：</label>
    <div id="uploader"></div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="widget-box">
                <div class="widget-content">
                    <ul class="thumbnails" id="pictrueContainer">

                        @if (ViewData["picFiles"] != null)
                        {
                            foreach (var fileHtml in ViewData["picFiles"] as List<string>)
                            {
                                @Html.Raw(fileHtml)
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
