@using HYZK.FrameWork.Common
@using HYZK.FrameWork.Web.Controls
@using HYZK.Account.Contract
@using HYZK.FrameWork.Utility

@model DKLManager.Contract.Model.SampleRegisterTable
@{
    Layout = "~/Views/Shared/_Layout.Edit.cshtml";
}
@section PageSpecificStyleSheetIncludes{
<style type="text/css">
    .form-refer-1 {
        font-weight: 800;
        font-size: large;
        color: black;
    }

    .form-refer-2 {
        font-weight: 800;
        font-size: 16px;
        margin-top: 10px;
        resize: none;
        height: 20px;
        width: 23%;
        text-align: center;
    }

    .form-refer-3 {
        font-weight: 800;
        font-size: large;
        width: 25%;
        margin-top: 10px;
        margin-left: 10px;
        resize: none;
        text-align: center;
    }
</style>

}
@section PageSpecificJavascriptIncludes{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#BirthDate").datepicker(
                {
                    changeYear: true,
                    changeMonth: true,
                });
        });
    </script>
}
@section MainContent{
<div class="portlet box red m10">
    <div class="portlet-title">
        <h4><i class="icon-reorder"></i>项目信息</h4>
        <div class="control-group">
            <div class="form-refer-1">
                &nbsp;&nbsp;&nbsp;   项目编号：
              <textarea class=" form-refer-2" readonly>@Model.ProjectNumber</textarea>
                &nbsp;&nbsp;&nbsp; 
                样品编号：<textarea class=" form-refer-2" readonly>@Model.SampleRegisterNumber</textarea>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
            </div>

            <div class="col-md-6 col-xs-6 form-refer-1 ">
                &nbsp;&nbsp;&nbsp;
                样品状态：<textarea class=" form-refer-2" readonly>@Model.SampleState</textarea>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                检测参数：
                &nbsp;&nbsp;<textarea class=" form-refer-2" readonly>@Model.ParameterName</textarea>
            </div>
            <div class="col-md-12 col-xs-12 form-refer-1">
                &nbsp;&nbsp;&nbsp;
                保存条件：<textarea class=" form-refer-2" readonly>@Model.SaveCondition</textarea>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                    &nbsp;&nbsp;&nbsp;
                    分析人： &nbsp;&nbsp;@Html.DropDownList("Person", null, "指定分析人", new { id = "select" })
            <div class="col-md-6 col-xs-6 form-refer-1">
                &nbsp;&nbsp;&nbsp;
                车间： &nbsp;&nbsp;&nbsp;&nbsp;
                <textarea class=" form-refer-2" readonly>@Model.WorkShop</textarea>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                采样时间：
                &nbsp;<textarea class=" form-refer-3" readonly>@Model.SamplingDay</textarea>
            </div>
            <div class="col-md-12 col-xs-12 form-refer-1">
                &nbsp;&nbsp;&nbsp;
                采样地点：<textarea class=" form-refer-2" readonly>@Model.Location</textarea>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                岗位：
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <textarea class=" form-refer-2" readonly>@Model.Job</textarea>
            </div>
            <div class="col-md-6 col-xs-6 form-refer-1">
                &nbsp;&nbsp;&nbsp;
                
                CSTEL：
                <textarea class=" form-refer-2" readonly>@Model.CSTEL</textarea>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                样品状态：
                <textarea class=" form-refer-2" readonly>@Model.SampleStates</textarea>
            </div>
            <div class="form-refer-1">
                &nbsp;&nbsp;&nbsp;
                CTWA：<textarea class=" form-refer-2" readonly>@Model.CTWA</textarea>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                样品状态：
                &nbsp;&nbsp;&nbsp;<textarea class=" form-refer-2" readonly>@Model.SampleStates</textarea>
            </div>
            <div class="form-refer-1">
                &nbsp;&nbsp;&nbsp;
                CMAC：
                &nbsp;&nbsp;&nbsp;<textarea class=" form-refer-2" readonly>@Model.CMAC</textarea>
            </div>
        </div>
        </div>
    </div>
}

