@model NetSchool.Model.EduUser
@{
    ViewBag.Title = "UserShow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<body>
    <link href="~/Scripts/kindeditor-4.1.7/themes/default/default.css" rel="stylesheet" />
    <link href="~/Scripts/kindeditor-4.1.7/plugins/code/prettify.css" rel="stylesheet" />
    <script src="~/Scripts/kindeditor-4.1.7/kindeditor-min.js"></script>
    <script src="~/Scripts/kindeditor-4.1.7/lang/zh_CN.js"></script>
    <script src="~/Scripts/kindeditor-4.1.7/plugins/code/code.js"></script>

    <link href="~/CSS/EduUser/EduUserShow.css" rel="stylesheet" />
    <script src="~/Scripts/js/EduUser/EduUserShow.js"></script>
        <div class="main-div UserOperation">
            <p class="title"><span>人员信息查看</span></p>
            <div class="content">
                <div class="titleBox">
                    <label class="txtTitle">@Html.DisplayFor(model => model.NickName)</label><br />
                    <p>
                        <label class="txtAuthor">创建时间戳：<span>@Html.DisplayFor(model => model.CreatedTime)</span></label>
                        <label class="txtCreateTime">创建时间：<span>@Html.DisplayFor(model => model.CreateTime).ToString().Split(' ')[0]</span></label>
                    </p> 
                    <p>
                        <label class="txtAuthor">
                            所属公司：<span>@Html.DisplayFor(model => model.Company)</span>
                        </label>
                    </p>
                    <p>
                        <label class="txtAuthor">
                            角色：<span>@Html.DisplayFor(model => model.Roles)</span>
                        </label>
                    </p>
                    <p>
                        <label class="txtAuthor">
                            性别：<span>@Html.DisplayFor(model => model.Gender)</span>
                        </label>
                    </p>
                </div>
            </div>
            <div class="btnDiv">
                <input type="button" class="btn btn-BlueBorder cancelBtn" name="cancelBtn" value="关闭" />
            </div>
        </div>
</body>
</html>
