@using HYZK.FrameWork.Common
@using HYZK.FrameWork.Web.Controls
@using HYZK.Account.Contract
@using HYZK.FrameWork.Utility
@model DKLManager.Contract.Model.OccupationaldiseaseHarm
@{
    Layout = "~/Views/Shared/_Layout.Edit.cshtml";
}

@section MainContent{
    <div class="portlet-body form-horizontal form-bordered form-row-stripped">
        <div class="row-fluid">
            <div class="control-group" style="float:none;">
                <label class="control-label">危害因素：</label>
                <div class="controls">
                    @Html.DropDownListFor(m => m.Endanger, ViewData["ParameterName"] as SelectList)
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Endanger)</span>
                </div>
            </div>
            <div class="control-group" style="float:none;">
                <label class="control-label">对人体的主要危害：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Describe, new { @class = "m-wrap small" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Describe)</span>
                </div>
            </div>
            <div class="control-group" style="float:none;">
                <label class="control-label">可能产生的职业病：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Disease, new { @class = "m-wrap small" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Disease)</span>
                </div>
            </div>
            <div class="control-group" style="float:none;">
                <label class="control-label">职业禁忌症：</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Contraindication, new { @class = "m-wrap small" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Contraindication)</span>
                </div>
            </div>
        </div>
    </div>
}







